.Rproj.user
.Rhistory
.RData
.Ruserdata
.gitignore
*.Rproj
*.xlsx
*.gpx
*.pdf
*.csv
*.txt
*.html
!index.html
john-snow-cholera-map/data/
!periodic-table/periodic-table-grid.csv
recording/
*_files/
*.ttf
*/data/
rosm.cache/
photomap-edinburgh/*.jpg

/.quarto/
**/*.quarto_ipynb
docs/
